@media(min-width:768px){
.container-1, .container-2, .container-3{
    display: flex;
    /* align box height with the content 
    align-items: flex-start*/
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 5%;
    max-height: inherit;
    }
}

.container-1 div, .container-2 div, .container-3 div{
        border: 1px #ccc solid;
        padding: 10px;
}


.box{
    flex: 2;
    flex-basis: 25%;
    margin: 1%;
    padding: 10px;
    box-shadow: 0 0 6px 1px red;
    border-radius: 50px;
    background: white;
    background-image: linear-gradient(to right, rgba(255,165,0,0.05), rgba(255,165,0,0.25));
    transition: 1s;
  }
  
  .box:hover{
    transform:scale(1.3);
    background-image: linear-gradient(to right, rgba(255,165,0,0.15), rgba(255,165,0,0.5));
    z-index: 2;
  }
  
  h3 {
    text-shadow: 0 0 2px red;
    text-align: center;
    vertical-align: middle;
  }
  
  p {
    text-align: center;
    vertical-align: middle;
    line-height: 1.5;
  }
  
  