
.chart_desk {
    margin-left: 30%;
    margin-top: 2%;
    display:block;
}

.chart_desk1 {
    margin-left: 15%;
    margin-top: 2%;
    display:block;
}
.chart_mob {
    display: none;
}

/* Responsiveness */
@media screen and (max-width: 700px) {
    .chart_mob {
        padding: 10px;
        display: block;
    }
    .chart_desk {
        display: none;
    }
    .chart_desk1 {
        display: none;
    }
}


/* Ipad sizing */
@media screen and (max-width: 900px) {
    .chart_desk {
        display: none;
    }
    .chart_desk1 {
        display: none;
    }
    .chart_mob {
        margin-left: 25%;
        display: block;
    }
}