
.chart_desk {
    margin-left: 30%;
    margin-top: 2%;
    display:block;
}

<<<<<<< HEAD
.chart_desk1 {
    margin-left: 15%;
    margin-top: 2%;
    display:block;
}
.chart_mob {
=======
.chart_mob {
    padding: 10px;
>>>>>>> 42d6d51... hex background. Included pie chart, responsive layout.
    display: none;
}

/* Responsiveness */
@media screen and (max-width: 700px) {
    .chart_mob {
        padding: 10px;
        display: block;
    }
    .chart_desk {
        display: none;
    }
<<<<<<< HEAD
    .chart_desk1 {
        display: none;
    }
}


/* Ipad sizing */
@media screen and (max-width: 900px) {
    .chart_desk {
        display: none;
    }
    .chart_desk1 {
        display: none;
    }
    .chart_mob {
        margin-left: 25%;
        display: block;
=======
}

/* Ipad sizing */
@media screen and (max-width: 900px) {
    .chart_desk {
        margin-left: 10%;
        margin-top: 2%;
>>>>>>> 42d6d51... hex background. Included pie chart, responsive layout.
    }
}