
#intro{
    line-height: 0,8;
    text-align: center;
}


.chart_desk {
    text-align: center;
    margin-top: 2%;
    display:block;
}

.chart_desk1 {
    text-align: center;
    margin-top: 2%;
    display:block;
}
.chart_mob {
    display: none;
}

/* Responsiveness */
@media screen and (max-width: 700px) {
    .chart_mob {
        text-align: center;
        
        display: block;
    }
    .chart_desk {
        display: none;
    }
    .chart_desk1 {
        display: none;
    }
    #intro{
        font-size: 15px;

    }
    #titsize{
        font-size: 25px;

    }
}


/* Ipad sizing */
@media screen and (max-width: 900px) {
    .chart_desk {
        display: none;
    }
    .chart_desk1 {
        display: none;
    }
    .chart_mob {
        text-align: center;
        display: block;
    }
}