/* Define general grid */
html{
  background-color: whitesmoke;
}
body{
  margin: 0;
}

* {
    box-sizing: border-box;
    }

.grid-container {
    display: grid;
    min-height: 100vh;
    max-width: 100vw;
    overflow: hidden;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    gap: 1px 1px;
    grid-template-areas: 
    "Header Header Header Header Header Header Header Header Nav Nav Nav Nav" 
    "Main Main Main Main Main Main Main Main Main Main Main Main" 
    "Main Main Main Main Main Main Main Main Main Main Main Main" "Main Main Main Main Main Main Main Main Main Main Main Main" 
    "Main Main Main Main Main Main Main Main Main Main Main Main" "Main Main Main Main Main Main Main Main Main Main Main Main" 
    "Main Main Main Main Main Main Main Main Main Main Main Main" "Main Main Main Main Main Main Main Main Main Main Main Main" 
    "Main Main Main Main Main Main Main Main Main Main Main Main" "Main Main Main Main Main Main Main Main Main Main Main Main" 
    "Main Main Main Main Main Main Main Main Main Main Main Main" "Main Main Main Main Main Main Main Main Main Main Main Main" 
    "Foot Foot Foot Foot Foot Foot Foot Foot Foot Foot Foot Foot";
    background-color: whitesmoke;
    font-family: 'Averia Serif Libre', cursive;
  }
  
.Header {
    grid-area: Header;
    background-color: whitesmoke;
    color: black;
  }

  /* Show Title for Desktop */
  #title {
    display: block;
    padding: 20px;
  }

  /* Hide title for Mobile */
  #titleMob { 
    display: none;
  }

.Nav { 
    grid-area: Nav; 
    grid-column-start: 10;
    padding: 50px;
    background-color: whitesmoke;
    color: black;
   }

.Main { 
  grid-area: Main;
  position: relative;
  /*overflow-y: scroll;*/
  border-top: thick double #333;
  border-bottom: #333; 
  padding: 1%;
  font-family: 'Open Sans', sans-serif;
 }

.Foot { 
    grid-area: Foot;
    background-color: whitesmoke;
    text-align: center;
    padding: 0.5%;
}

/* Define the NavBar */
/* The Overlay (background) */
.overlay {
/* Height & width depends on how you want to reveal the overlay (see JS below) */    
    height: 0%;
    width: 30%;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    right: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.8); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
  }
  
  /* Position the content inside the overlay */
.overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
  }
  
  /* The navigation links inside the overlay */
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 26px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
  }
  
  /* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  /* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }

@media screen and (max-width: 500px) {
  .overlay {
    width: 100%
  } 
  .Header {
    margin-left: 3%;
    font-size: 10px;
  }
  .Nav {
    font-size: 10px;
    margin-left: -10px;
  }
  .Foot {
    font-size: 9px;
  }
  #titleMob{
    display: block;
    
  }
  #title{
    display: none;
  }
}
