/* Define general grid */

* {
    box-sizing: border-box;
    }
  
.grid-container {
    display: grid;
    height: 100vh ;
    width: 100vw;
    grid-template-columns: repeat(12, 8.33vw);
    grid-template-rows: repeat(12, 8.33vh); 
    gap: 1px 1px;
    grid-template-areas: 
    "Header Header Header Header Header Header Header Header Nav Nav Nav Nav" 
    "Header Header Header Header Header Header Header Header Nav Nav Nav Nav" 
    "Main Main Main Main Main Main Main Main Main Main Main Main" "Main Main Main Main Main Main Main Main Main Main Main Main" 
    "Main Main Main Main Main Main Main Main Main Main Main Main" "Main Main Main Main Main Main Main Main Main Main Main Main" 
    "Main Main Main Main Main Main Main Main Main Main Main Main" "Main Main Main Main Main Main Main Main Main Main Main Main" 
    "Main Main Main Main Main Main Main Main Main Main Main Main" "Main Main Main Main Main Main Main Main Main Main Main Main" 
    "Main Main Main Main Main Main Main Main Main Main Main Main" "Main Main Main Main Main Main Main Main Main Main Main Main" 
    "Footer Footer Footer Footer Footer Footer Footer Footer Footer Footer Footer Footer";
    background-color: whitesmoke;
  }
  
.Header {
    display: grid;
    /*grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr; */
    gap: 1px 1px;
    grid-template-areas: ". . ." ". . .";
    grid-area: Header;
    background-color: whitesmoke;
    color: black;
    text-align: center;
    grid-column-start: 6;
    margin-top: 10%;
    font-size: 100%;
  }
  
.Nav { 
    grid-area: Nav; 
    grid-column-start: 11;
    grid-row: 2;
    background-color: whitesmoke;
    color: black;
    align-content: justify;
    font-weight: bold;
   }
  
.Main { 
  grid-area: Main;
  border-top: thick double black;
  border-bottom: black; 
 }

.Footer { 
    grid-area: Footer;
    background-color: whitesmoke;
    text-align: center;
}
  
/* Temporary grid borders to visualize areas
.grid-container * {
    border: 1px solid red;
    position: relative;
  }
*/

  /* Define the NavBar */
/* The Overlay (background) */
.overlay {
/* Height & width depends on how you want to reveal the overlay (see JS below) */    
    height: 0%;
    width: 25%;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    right: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.8); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
  }
  
  /* Position the content inside the overlay */
.overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
  }
  
  /* The navigation links inside the overlay */
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
  }
  
  /* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  /* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }
  
  