{% extends 'grid.html' %}
{% block content %}

   <h2> ABOUT Covid 19 </h2>
   <div style="width: 50%;"><div style="position: relative; padding-bottom: 200%; padding-top: 0; height: 0;"><iframe frameborder="0" width="400" height="800" style="position: absolute; top: 0; left: 10%; width: 50%; height: 50%;" src="https://view.genial.ly/5ea83534bc2c640db823896f" type="text/html" allowscriptaccess="always" allowfullscreen="true" scrolling="yes" allownetworking="all"></iframe> </div> </div>

{% endblock content%}