<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="functions.js"></script>
    <title>Clean Covid19</title>
    <link rel="stylesheet" type="text/css" href="about.css">
</head>
<body>
  <div class="grid-container">
    <div class="Header"><h2>Clean Covid 19</h2></div>

    <div class="Footer">Big Foot</div>

 <!--   <div id="myNav" class="Nav">Navbar</div> -->

<!-- Use any element to open/show the overlay navigation menu -->
<div class="Nav" > <span onclick="openNav()"> Menu </span> </div>
<!-- The overlay -->
<div id="myNav" class="overlay">

<!-- Button to close the overlay navigation -->
<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

<!-- Overlay content -->
<div class="overlay-content">
<a href="#">Main</a>
<a href="#">About Covid 19</a>
<a href="infographics.html">Infographics</a>
<a href="#">Share Your Story</a>

</div> 
    </div>

  </div>
</body>
  </html>