{% extends 'grid.html' %}
{% block content %}

<!-- Desktop Version --> 
<h1 id="titsize" style="text-align: center;">Continents Charts</h1>
<div id="intro"> <h5>The current charts represent an analysis on the 27.05.2020 of the original Covid-19 dataset provided by 
    'Our World In Data' and the European Centre for Disease Prevention and Control (ECDC).
    <br>You will find individual charts for every Continent. The information displayed is the progression of daily new cases and deaths 
    with an interval of 15 days so you can observe clearly the tendency. <br> In addition, the cumulative cases and deaths are plotted 
in a logarithmic scale. This allow us to analyze 'the big picture' of the spread. <br></h5></div>


<div class='chart_desk1'>
    <h3>EUROPE</h3>
    <img src="/static/img/charts/europe_cases.png" style="width:1000px;height:600px;"> 
</div>

<div class='chart_desk1'>
    <img src="/static/img/charts/europe_deaths.png" style="width:1000px;height:600px;"> 
</div>

<div class='chart_desk1'>
    <H3>AMERICAS</H3>
    <img src="/static/img/charts/americas_cases.png" style="width:1000px;height:600px;"> 
</div>

<div class='chart_desk1'>
    <img src="/static/img/charts/americas_deaths.png" style="width:1000px;height:600px;"> 
</div>

<div class='chart_desk1'>
    <H3>ASIA</H3>
    <img src="/static/img/charts/asia_cases.png" style="width:1000px;height:600px;"> 
</div>
<div class='chart_desk1'>
    <img src="/static/img/charts/asia_deaths.png" style="width:1000px;height:600px;"> 
</div>

<div class='chart_desk1'>
    <H3>AFRICA</H3>
    <img src="/static/img/charts/africa_cases.png" style="width:1000px;height:600px;"> 
</div>
<div class='chart_desk1'>
    <img src="/static/img/charts/africa_deaths.png" style="width:1000px;height:600px;"> 
</div>

<div class='chart_desk1'>
    <H3>OCEANIA</H3>
    <img src="/static/img/charts/oceania_cases.png" style="width:1000px;height:600px;"> 
</div>
<div class='chart_desk1'>
    <img src="/static/img/charts/oceania_deaths.png" style="width:1000px;height:600px;"> 
</div>

<!-- Mobile Version --> 

<div class='chart_mob'>
    <h4>EUROPE</h4>
    <img src="/static/img/charts/mob_europe_cases.png" style="width:350px;height:600px;"> 
</div>

<div class='chart_mob'>
    <img src="/static/img/charts/mob_europe_deaths.png" style="width:350px;height:600px;"> 
</div>

<div class='chart_mob'>
    <H4>AMERICAS</H4>
    <img src="/static/img/charts/mob_americas_cases.png" style="width:350px;height:600px;"> 
</div>

<div class='chart_mob'>
    <img src="/static/img/charts/mob_americas_deaths.png" style="width:350px;height:600px;"> 
</div>

<div class='chart_mob'>
    <H4>ASIA</H4>
    <img src="/static/img/charts/mob_asia_cases.png" style="width:350px;height:600px;"> 
</div>

<div class='chart_mob'>
    <img src="/static/img/charts/mob_asia_deaths.png" style="width:350px;height:600px;"> 
</div>

<div class='chart_mob'>
    <H4>AFRICA</H4>
    <img src="/static/img/charts/mob_africa_cases.png" style="width:350px;height:600px;"> 
</div>

<div class='chart_mob'>
    <img src="/static/img/charts/mob_africa_deaths.png" style="width:350px;height:600px;"> 
</div>

<div class='chart_mob'>
    <H4>OCEANIA</H4>
    <img src="/static/img/charts/mob_oceania_cases.png" style="width:350px;height:600px;"> 
</div>

<div class='chart_mob'>
    <img src="/static/img/charts/mob_oceania_deaths.png" style="width:350px;height:600px;"> 
</div>


{% endblock content%}