{% extends 'grid.html' %}
{% block content %}

<!-- Desktop Version --> 
<div class='chart_desk1'>
    <img src="/static/img/charts/europe_cases" style="width:1000px;height:600px;"> 
</div>

<div class='chart_desk1'>
    <img src="/static/img/charts/europe_deaths.png" style="width:1000px;height:600px;"> 
</div>

<div class='chart_desk1'>
    <img src="/static/img/charts/americas_cases.png" style="width:600px;height:600px;"> 
</div>

<div class='chart_desk1'>
    <img src="/static/img/charts/americas_deaths.png" style="width:1000px;height:600px;"> 
</div>

<div class='chart_desk1'>
    <img src="/static/img/charts/asia_cases.png" style="width:1000px;height:600px;"> 
</div>
<div class='chart_desk1'>
    <img src="/static/img/charts/asia_deaths.png" style="width:1000px;height:600px;"> 
</div>

<div class='chart_desk1'>
    <img src="/static/img/charts/africa_cases.png" style="width:1000px;height:600px;"> 
</div>
<div class='chart_desk1'>
    <img src="/static/img/charts/africa_deaths.png" style="width:1000px;height:600px;"> 
</div>
<div class='chart_desk1'>
    <img src="/static/img/charts/oceania_cases.png" style="width:1000px;height:600px;"> 
</div>
<div class='chart_desk1'>
    <img src="/static/img/charts/oceania_deaths.png" style="width:1000px;height:600px;"> 
</div>

<!-- Mobile Version --> 

<div class='chart_mob'>
    <img src="/static/img/charts/mob_europe_cases.png" style="width:350px;height:600px;"> 
</div>

<div class='chart_mob'>
    <img src="/static/img/charts/mob_europe_deaths.png" style="width:350px;height:600px;"> 
</div>

<div class='chart_mob'>
    <img src="/static/img/charts/mob_americas_cases.png" style="width:350px;height:600px;"> 
</div>

<div class='chart_mob'>
    <img src="/static/img/charts/mob_americas_deaths.png" style="width:350px;height:600px;"> 
</div>

<div class='chart_mob'>
    <img src="/static/img/charts/mob_asia_cases.png" style="width:350px;height:600px;"> 
</div>

<div class='chart_mob'>
    <img src="/static/img/charts/mob_asia_deaths.png" style="width:350px;height:600px;"> 
</div>

<div class='chart_mob'>
    <img src="/static/img/charts/mob_africa_cases.png" style="width:350px;height:600px;"> 
</div>

<div class='chart_mob'>
    <img src="/static/img/charts/mob_africa_deaths.png" style="width:350px;height:600px;"> 
</div>

<div class='chart_mob'>
    <img src="/static/img/charts/mob_oceania_cases.png" style="width:350px;height:600px;"> 
</div>

<div class='chart_mob'>
    <img src="/static/img/charts/mob_oceania_deaths.png" style="width:350px;height:600px;"> 
</div>


{% endblock content%}