{% extends 'grid.html' %}
{% block content %}


<!-- Desktop Version --> 
<div class='chart_desk1'>
    <img src="/static/img/charts/tot_cumulative_cases.png" style="width:1000px;height:600px;"> 
</div>

<div class='chart_desk1'>
    <img src="/static/img/charts/tot_cumulative_deaths.png" style="width:1000px;height:600px;"> 
</div>

<div class='chart_desk'>
    <img src="/static/img/charts/continent_pie.png" style="width:600px;height:600px;"> 
</div>

<div class='chart_desk1'>
    <img src="/static/img/charts/continent_series.png" style="width:1000px;height:600px;"> 
</div>

<div class='chart_desk1'>
    <img src="/static/img/charts/continent_lines.png" style="width:1000px;height:600px;"> 
</div>


<!-- Mobile Version --> 

<div class='chart_mob'>
    <img src="/static/img/charts/mob_tot_cumulative_cases.png" style="width:350px;height:600px;"> 
</div>

<div class='chart_mob'>
    <img src="/static/img/charts/mob_tot_cumulative_deaths.png" style="width:350px;height:600px;"> 
</div>

<div class='chart_mob'>
    <img src="/static/img/charts/continent_pie.png" style="width:350px;height:350px;"> 
</div>

<div class='chart_mob'>
    <img src="/static/img/charts/continent_series.png" style="width:350px;height:200px;"> 
</div>

<div class='chart_mob'>
    <img src="/static/img/charts/continent_lines.png" style="width:350px;height:200px;"> 
</div>



{% endblock content%}