{% extends 'grid.html' %}
{% block content %}

   
    <div class="mainframe" id = "image">  </div>
	
	<img class = "preview" alt = "Precautions" src = "/static/img/4.png" onmouseover = "upDate(this)" onmouseout = "unDo()">
	
	<img class = "preview" alt = "Social Distancing" src = "/static/img/5.png" onmouseover = "upDate(this)" onmouseout = "unDo()">
	
    <img class = "preview" src = "/static/img/8.png" alt = "Symptoms" onmouseover = "upDate(this)" onmouseout = "unDo()">

{% endblock content %}


<div class="container-wrapper-genially" style="position: relative; min-height: 400px; max-width: 100%;"><img src="https://genially.blob.core.windows.net/genially/version3.0/loader.gif" class="loader-genially" style="position: absolute; top: 0; right: 0; bottom: 0; left: 0; margin-top: auto; margin-right: auto; margin-bottom: auto; margin-left: auto; z-index: 1;width: 80px; height: 80px;"/><div id="5ea83534bc2c640db823896f" class="genially-embed" style="margin: 0px auto; position: relative; height: auto; width: 100%;"></div></div><script>(function (d) { var js, id = "genially-embed-js", ref = d.getElementsByTagName("script")[0]; if (d.getElementById(id)) { return; } js = d.createElement("script"); js.id = id; js.async = true; js.src = "https://view.genial.ly/static/embed/embed.js"; ref.parentNode.insertBefore(js, ref); }(document));</script>
