{% extends 'grid.html' %}
{% block content %}

   
    <div class="mainframe" id = "image">  </div>
	
	<img class="preview" alt = "Precautions" src = "/static/img/4.png" onmouseover = "upDate(this)" onmouseout = "unDo()">
	
	<img class="preview" alt = "Social Distancing" src = "/static/img/5.png" onmouseover = "upDate(this)" onmouseout = "unDo()">
	
    <img class="preview" src = "/static/img/8.png" alt = "Symptoms" onmouseover = "upDate(this)" onmouseout = "unDo()">

{% endblock content %}


<!-- This is the Stay Home IG link --> 
<!--
<div style="width: 50%;"><div style="position: relative; padding-bottom: 200%; padding-top: 0; height: 0;"><iframe frameborder="0" width="400" height="800" style="position: absolute; top: 0; left: 10%; width: 50%; height: 50%;" src="https://view.genial.ly/5ea83534bc2c640db823896f" type="text/html" allowscriptaccess="always" allowfullscreen="true" scrolling="yes" allownetworking="all"></iframe> </div> </div>
-->