<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Infographics</title>
    <link rel="stylesheet" href="infographics.css">
    <script src="functions.js"> </script>
</head>
<body>
    <div class="grid-container">
        <div class="header">
          <h2>Clean Covid 19</h2> </div>
        <div class="middle">
    <div id = "image"> Hover over an image below to display here. </div>
	
	<img class = "preview" alt = "Precautions" src = "img/4.png" onmouseover = "upDate(this)" onmouseout = "unDo()">
	
	<img class = "preview" alt = "Social Distancing" src = "img/5.png" onmouseover = "upDate(this)" onmouseout = "unDo()">
	
    <img class = "preview" src = "img/8.png" alt = "Symptoms" onmouseover = "upDate(this)" onmouseout = "unDo()">
        </div>
    <div class="footer"> <p>Footer </p></div>
</body>
</html>